*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serifs;
    scroll-behavior: smooth; /*For smooth scrolling*/
}
body{
    font-family: 'Jost', sans-serif;
}
h2{
    font-family: 'Jost', sans-serif;
    font-size: 30px;
}
h3{
    font-family: 'Jost', sans-serif;
    font-size: 25px;
}
p{
    font-size: larger;
    font-family: 'Jost', sans-serif;
}
.imagebackground{
    /* Location of the image */
background-image: url(image/ezgif.com-optimize+\(2\).gif);

/* Background image is centered vertically and horizontally at all times */
background-position: center center;

/* Background image doesn't tile */
background-repeat: no-repeat;

/* Background image is fixed in the viewport so that it doesn't move when
the content's height is greater than the image's height */
background-attachment: fixed;

/* This is what makes the background image rescale based
on the container's size */
background-size: cover;

/* Set a background color that will be displayed
while the background image is loading */
/* background-color: #e7fc00; */
}
#nav_bar{
    /* width: 100%; */
    display:flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    color:black;
    /* background-color: rgb(0, 179, 255); */
}

#nav_bar:hover a{
    color: #c8c8c8;
}
#nav_bar:hover {
    color: rgb(200, 200, 200);
}
#div1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap:100px;
}
#nav_items{
    margin: auto;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.nav_item_list{
    padding: 20px;
    font-size: larger;
    font-weight: bolder;
}
.nav_item_list>a{
    color: white;
    text-decoration: none;
}
.nav_item_list:hover a{
    color: white !important;
    
} 
.nav_item_list:hover{
    color: white;
    cursor: pointer;
}
#join_us_button{
    font-size: larger;
    color: black;
    font-weight: bolder;
    background-color: orange;
    padding: 0px 10px;
    border: 2px solid orange;
    margin-left: 50px;
    border-radius: 7px;
}
#join_us_button:hover {
    border-width: 4px;
    background-color: yellow;
    transition-duration: 0.4s;
    cursor: pointer;
    border-color: yellow;
}
.bar{
    display: block;
    width: 25px;
    margin: 5px 0px;
    height: 3px;
    transition: all 0.3s ease;
    background-color: white;
}
/* .bar:hover {
    height: 4px;
    width:30px;
} */
#hamburger_section{
    display: none;

}
@media (max-width:1200px) {
    #hamburger_section{
        display: block;
        justify-self: flex-end;
    }
    /* #nav_menu{
        display: none;
    } */
    #IITRlogo{
        display: none;
    }
    #MARGlogo{
        align-items: center;
        justify-content: center;
    }
    #join_us_button{
        margin-left: 0px !important;
    }
    /* #combinedlogo{
        width: 300px;
    } */
    #hamburger_section.active .bar:nth-child(1){
        transform: translateY(8.4px) rotate(45deg);
        /* width: 40px;
        height: 3px; */
    }
    #hamburger_section.active .bar:nth-child(2){
        opacity: 0%;

    }
    #hamburger_section.active .bar:nth-child(3){
        transform: translateY(-8.4px) rotate(-45deg);
        /* width: 40px;
        height: 3px; */

    }
    #nav_bar{
        display: flex;
        flex-direction: column;
    }
    #div2{
        display: none;
        /* left:-100%; */
    }
    #div2.active{
        display: flex;
        justify-content: center;
        width: 100%;
        transition: 0.5s ease-in;
    }
    #nav_items{
        /* top:70px; */
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .boxes{
        display: grid;
        grid-template-columns: auto auto !important; 
    }

    
}
@media (max-width:1000px){
    .boxes{
        display: flex !important;
        flex-direction: column;
        align-items: center;
    }
    .container{
        padding: 20px !important;
    }
}

.title_marg{
    margin:200px;
    color: white;
    text-align: center;
}
#Main{

    margin:0px;
    padding:0px;
    /* border: 10px;
    border-color: black; */
}
.container{
    margin: 50px 10px;
    padding: 50px;
}
.quotation{
    background-color: #c8c8c8;
    height: 200px;
}
.boxes{
    display: grid;
    grid-template-columns: auto auto auto;
}
.box{
    background-color: orange;
    width: 300px;
    height: 300px;
    border: 5px orange;
    border-style: solid;
    border-width: 5px;
    padding: 50px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.79);

}
.box:hover{
    border-width: 0px;
    outline-color: orange;
    outline-style: solid;
    outline-width: 2px;
    cursor: grab;
}